<%- include("partials/header") %>

<div class="blogPostContainer">
	<div class="blogPost blogThing">
		<h2>
			<%= blog.title %>
		</h2>
		<img src="<%= blog.image %>">
		<span><%= blog.created.toDateString() %></span>
		<p>
			<%- blog.body %> 
			<!-- html코드 쓸 수 있게 해줌 -->
		</p>
		<div class="buttonBox">
			<form class="deleteBtn" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button>
					Delete
				</button>
			</form>
			<a href="/blogs/<%= blog._id %>/edit">Edit</a>
		</div>
	</div>
</div>


<%- include("partials/footer") %>